In [1]:
import pickle
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
import pandas as pd

df = pd.read_csv(
    "../Subway_base_network/seoul.txt",
    delimiter=" ",
    names=["no", "name", "line"],
    encoding="UTF-8",
)

# only nodes
df = df.iloc[
    :705,
]


def no_to_name(no):
    """
    parameter: stNO
    return: stName, line
    """
    name = df[df["no"] == no]["name"].values[0]
    line = df[df["no"] == no]["line"].values[0]
    return name, line
def name_to_no(name, line):
    x = df[df["name"] == name]
    y = x[x['line'] == line]
    return y['no'].values[0]
name_to_no("사당", '2')

'226'

In [5]:
with open('../Subway_base_network/graph_stNo_as_node.pkl', 'rb') as f:
    G_stNo = pickle.load(f)
data = pd.read_csv("data.csv")
line_convert_table = {"1호선": "1", "2호선": "2", "3호선": "3", "4호선": "4", "5호선": "5", "6호선": "6", "7호선": "7", "8호선": "8", "9호선": "9",
                     "중앙선": "K1", '우이신설선': 'S1', '분당선': "K2"}
for i, j in line_convert_table.items():
    data = data.replace(i, j)
print(data)
sums = data.sum(axis = 1)

        사용월 호선명 지하철역  04시-05시 승차인원  04시-05시 하차인원  05시-06시 승차인원  05시-06시 하차인원  \
0    201501   1  동대문           413             7         13701          1956
1    201501   1  동묘앞           123             3          2104           911
2    201501   1  서울역          1163            35         12983         10938
3    201501   1   시청            63             1          2155          4542
4    201501   1  신설동           148            11          6657          2189
..      ...  ..  ...           ...           ...           ...           ...
546  201501  K1  운길산             0             0           177            56
547  201501  K1   원덕             1             0           292             4
548  201501  K1   중랑            14             1          4929           424
549  201501  K1   팔당             0             0           161            50
550  201501  K1   회기           436             3         10929          3067

     06시-07시 승차인원  06시-07시 하차인원  07시-08시 승차인원  ...  23시-24시 하차인원  \
0           10907          7588         16633  ...         15448
1            2814          3042          5815  ...          4715
2           19926         57836         60421  ...         31384
3            3551         20169          6448  ...          3623
4            9843          8999         22667  ...         11279
..            ...           ...           ...  ...           ...
546           642           403          1292  ...           633
547           415            46           537  ...           383
548          8539          2084         22160  ...          6501
549           368           149          1227  ...           336
550         23317         10430         65043  ...         35702

     00시-01시 승차인원  00시-01시 하차인원  01시-02시 승차인원  01시-02시 하차인원  02시-03시 승차인원  \
0             915          5095             3            41             0
1             299          3381             2           251             0
2            6731          8682             7           532             0
3            1211          1139             1            18             0
4             434          2592             0             0             0
..            ...           ...           ...           ...           ...
546             3           222             0             0             0
547             3           157             0             0             0
548            86          1617             0             0             0
549             8            85             0             0             0
550           767          9314             0             0             0

     02시-03시 하차인원  03시-04시 승차인원  03시-04시 하차인원      작업일자
0               0             0             0  20151223
1               0             0             0  20151223
2               0             0             0  20151223
3               0             0             0  20151223
4               0             0             0  20151223
..            ...           ...           ...       ...
546             0             0             0  20151223
547             0             0             0  20151223
548             0             0             0  20151223
549             0             0             0  20151223
550             0             0             0  20151223

[551 rows x 52 columns]

In [9]:
name_convert_table = {'신천': '잠실새내', '총신대입구': '총신대입구(이수)', '양평(5호선)': '양평(5호선)'}
import re
for i in range(608):
    x = data.iloc[i]
    x['지하철역'] = name_convert_table.get(x['지하철역'], re.sub('\(.*?\)', '', x['지하철역']))
    print(x['지하철역'], x['호선명'])
    no = name_to_no(x['지하철역'], x['호선명'][0])
    print(no, sums.iloc[i])

동대문 1
128 21379012
동묘앞 1
127 20938932
서울역 1
133 24430108
시청 1
132 21844274
신설동 1
126 21360738
제기동 1
125 21619900
종각 1
131 23384466
종로3가 1
130 22776219
종로5가 1
129 22103623
청량리 1
124 22237937
강남 2
222 27484779
강변 2
214 23513763
건대입구 2
212 23271291
교대 2
223 22920874
구로디지털단지 2
232 24335514
구의 2
213 21824582
낙성대 2
227 22202055
당산 2
237 21802808
대림 2
233 22361102
도림천 2
234-1 20412628
동대문역사문화공원 2
205 21505732
뚝섬 2
210 21288325
문래 2
235 21529071
방배 2
225 21580402
봉천 2
229 21819697
사당 2
226 23264019
삼성 2
219 24331372
상왕십리 2
207 20960572
서울대입구 2
228 23619869
서초 2
224 21749010
선릉 2
220 23683772
성수 2
211 21919272
시청 2
201 21880284
신답 2
211-2 20438074
신당 2
206 21290289
신대방 2
231 22008792
신도림 2
234 24419300
신림 2
230 24867875
신설동 2
211-4 20604797
신정네거리 2
234-3 21016992
잠실새내 2
217 22027472
신촌 2
240 23645278
아현 2
242 20871903
양천구청 2
234-2 20806483
역삼 2
221 23474480
영등포구청 2
236 21690722
왕십리 2
208 21482216
용답 2
211-1 20504257
용두 2
211-3 20493895
을지로3가 2
203 21548691
을지로4가 2
204 21155533
을지로입구 2
202 23588400
이대 2
241 21683871
잠실 2
216 25116229
잠실나루 2
215 21451085
종합운동장 2
218 21151058
충정로 2
243 21069597
한양대 2
209 20901771
합정 2
238 22509582
홍대입구 2
239 25155985
가락시장 3
350 20887187
경복궁 3
327 21794331
경찰병원 3
351 20808407
고속터미널 3
339 24096304
교대 3
340 21109060
구파발 3
320 21254803
금호 3
334 20819630
남부터미널 3
341 22686287
녹번 3
323 21215309
대청 3
347 20979189
대치 3
345 21079808
도곡 3
344 20795617
독립문 3
326 20808811
동대입구 3
332 21020459
매봉 3
343 21067474
무악재 3
325 20620914
불광 3
322 21567841
수서 3
349 21117271
신사 3
337 22459309
안국 3
328 22040150
압구정 3
336 22921744
약수 3
333 21234906
양재 3
342 23010334
연신내 3
321 22788329
오금 3
352 20745045
옥수 3
335 20994506
을지로3가 3
330 20959434
일원 3
348 20955298
잠원 3
338 20708621
종로3가 3
329 21009833
지축 3
319 20428624
충무로 3
331 20352764
학여울 3
346 20571929
홍제 3
324 21536503
길음 4
417 21960964
남태령 4
434 20412844
노원 4
411 21925297
당고개 4
409 21151298
동대문 4
421 21893103
동대문역사문화공원 4
422 21692613
동작 4
431 20487562
명동 4
424 22907966
미아 4
415 21466512
미아사거리 4
416 22418829
사당 4
433 22187750
삼각지 4
428 20748762
상계 4
410 21653077
서울역 4
426 21252234
성신여대입구 4
418 21849273
수유 4
414 23091830
숙대입구 4
427 21343212
신용산 4
429 21196019
쌍문 4
413 22300570
이촌 4
430 20997257
창동 4
412 22293147
총신대입구(이수) 4
432 21841869
충무로 4
423 22394379
한성대입구 4
419 21274849
혜화 4
420 23149448
회현 4
425 22172193
강동 5
548 21459789
개롱 5
P553 20778993
개화산 5
511 20702763
거여 5
P554 20786864
고덕 5
552 20869765
공덕 5
529 21176805
광나루 5
546 21217911
광화문 5
533 22590263
군자 5
544 21048731
굽은다리 5
550 20942851
길동 5
549 20840209
김포공항 5
512 20835026
까치산 5
518 22147385
답십리 5
542 21342427
동대문역사문화공원 5
536 20572343
둔촌동 5
P549 21173183
마곡 5
514 20522521
마장 5
541 20727581
마천 5
P555 20730233
마포 5
528 21241501
명일 5
551 20940165
목동 5
520 21561370
발산 5
515 21000584
방이 5
P551 20795758
방화 5
510 20798435
상일동 5
553 21057766
서대문 5
532 21350147
송정 5
513 20992517
신금호 5
538 20672960
신길 5
525 20542445
신정 5
519 21140932
아차산 5
545 21220844
애오개 5
530 20725312
양평 5

<ipython-input-9-e2eb9a48a6be>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['지하철역'] = name_convert_table.get(x['지하철역'], re.sub('\(.*?\)', '', x['지하철역']))

IndexError: index 0 is out of bounds for axis 0 with size 0